 h1{
    font-style: normal;
    color: red;
    display: flex;
    padding: 10px;
    font-size: medium;
    text-align: center;             
    flex-direction: row;
    
}

.parent-container{
    background-color: chartreuse;
    padding-bottom: 10px;
    padding-bottom: 10px; 
    text-align: center;
    font-size: medium;
    
     }
}   
.child-container{
    text-align: center;
    background-color: chartreuse;
    padding: 10px;
    font-family: monospace;
    font-size: medium;
    display: flex;
}
h2{
    font-size:x-small ;
   text-emphasis: none;
}
h3{
    font-size:x-small ;
    text-emphasis: none;
 
}